.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons {
	border : solid 0px #e6b215;
	border-radius : 8px;
	moz-border-radius : 8px;
	font-size : 16px;
	color : #ffffff;
	padding : 5px 18px;
	background-color : #FF9900;
	cursor:pointer;
}

.buttons:hover {
	background-color:#ffc477;
}

.buttons:active {
	position:relative;
	top:1px;
}

#newPost {
	margin: 0 auto;
	width: 90%;
}

#charCounter { float:right }

textarea {
  width:		100%;
	height: 	10em;
}

#content {
  width: 90% ;
  margin-left: auto ;
  margin-right: auto;
	margin-bottom: 10px;
	font-family:verdana, sans-serif;
	word-spacing:4pt;
	font-size:14px;
}

#posts {
	font-weight:normal;
	color:#000000;
	word-spacing:4pt;
	font-size:10px;
	text-align:left;
	font-family:verdana, sans-serif;
	width: 90%;
	margin: 0 auto;
}

#posts th {
	background-color: #FF9900;
	color: white;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

#posts td {
	padding: 8px;
	border-color: #666666;
	background-color: #ffffff;
	border-bottom: 1px solid #ddd;
}


ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button:focus {
    outline: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 50px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}

#note-textarea {
    margin: 20px 0;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}   



/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }