.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttons {
	border : solid 0px #e6b215;
	border-radius : 8px;
	font-size : 16px;
	color : #ffffff;
	padding : 5px 18px;
	background-color : #FF9900;
	cursor:pointer;
}

.buttons:hover {
	background-color:#ffc477;
}

.buttons:active {
	position:relative;
	top:1px;
}

textarea {
  width:		100%;
	height: 	10em;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button:focus {
    outline: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 50px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}


@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}   

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .buttons-reset {
    border : solid 0px#9E9E9E;
    border-radius : 8px;
    font-size : 16px;
    color : #ffffff;
    padding : 5px 18px;
    background-color : #9E9E9E;
    cursor:pointer;
  }
  
  .buttons-reset:hover {
    background-color:#9E9E9E;
  }

  .loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif)                   50% 50% no-repeat rgba(249, 249, 249, 0.76)
  }

  .container2 {
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 100px 50px; */
    text-align: center;
    padding-bottom: 100px;
}

audio::-webkit-media-controls-mute-button {
  display: none !important;
}

audio::-webkit-media-controls-volume-slider {
  display: none !important;
}

.alert {
  padding: 10px;
  color: #c7443a;
  /* color: white; */
}